:root {
  --text-color: #ff3030;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body {
  background: linear-gradient(to top, #dddddd 2px, #cccccc 2px);
  background-size: cover;
  background-size: 100% 4px;

  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-family: "Electrolize", sans-serif;
  font-weight: 900;
}



body::-webkit-scrollbar {
  max-width: 10px;
  background: linear-gradient(to top, #dddddd 2px, #cccccc 2px);

}

body::-webkit-scrollbar-track {
  margin-top: 1rem;
  /* border: 1px solid black; */
  background-color: transparent;
  
}
 
body::-webkit-scrollbar-thumb {
  background-color: black;
}

body::-webkit-scrollbar-track{
  
}


@media screen {
  body {
    animation: scanlines infinite 1s linear;
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 -10px;
  }

  50% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 10px;
  }
}

canvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

}

#fluid-sim{
  z-index: 10000;
}
section {

  width: 100%;
  min-height: 100vh;
}


#hero {
  font-family: "Vina Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  line-height: 15vw;


  display: flex;
  flex-direction: column;
  justify-content: space-around;

}


#hero #name {
  font-size: 20vw;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
}

#hero #role {
  font-size: 20vw;
  color: var(--text-color);
  /* line-height: 18vw; */

}

.centre {
  margin: auto;
}


#about {
  padding: 5rem;
  /* font-weight: 100; */
  font-style: normal;
}

#heading {
  display: block;
  font-size: 10vw;
  font-family: "Vina Sans", sans-serif;


}

#desc {
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 2rem;
  text-align: justify;
}

@keyframes scale-a-lil {
  from {
    scale: 0.5;
    transform: translateX(1000px);
  }
}


h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);

  animation: scale-a-lil linear both;
  animation-timeline: view();
  animation-range: 25vh 75vh;
}

#skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

#skills li {
  margin: 1rem;
  width: fit-content;
  background-color:black;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
}

#projects {
  display: block;

}


#scrollable {
 overflow-x: scroll;
}

#scrollable #wrapper{
  display: flex;
  flex-direction: row;
  width: min-content;
  margin-bottom: 1rem;
}

.project {
  display: block;
  background-color: transparent;
  width: 25vw;
  height: min-content;
  /* float: left; */
  border: 1px solid black;
  margin: 0rem 1rem;
  text-align: center;
}

.project img {
  display: block;
  height: 20vw;
  background-color: blue;
  width: 22vw;
  margin: 1rem auto;
}

.project .title{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.project .tags{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project .tag{
  flex-grow: 1;
  border-right: 1px solid black;
}

.project .tag:last-of-type{
  border: 0px;
}

#scrollable::-webkit-scrollbar {
  max-width: 1px;
}

#scrollable::-webkit-scrollbar-track {
  margin-top: 1rem;
  border: 1px solid black;
}
 
#scrollable::-webkit-scrollbar-thumb {
  background-color: black;
}




.timeline-wrapper {
  position: relative;
  width: max-content;
  margin: auto;
  height: 30rem;
}

.timeline-wrapper .middle-line {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: black;
}

.box {
  width: 17%;
  position: relative;
  min-height: 100%;
  float: left;
  margin-left: 1rem;
}

.box .date {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 4rem;
  height: 4rem;
  border-radius: 0;
  background: black;
  color: white;
  border: 2px solid #d9d9d9;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.date p {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

.box .box-content {
  background-color:transparent;
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
}
.box-content p {
  margin: 0;
  color: white;
}

.box-bottom .box-content {
  top: 65%;
}


footer {
  background-color: black; /* Dark background */
  color:#ccc; /* White text */
  width: 100%; /* Full width */
  height: 100vh;
  padding: 40px 20px; /* Padding for content */
  box-sizing: border-box; /* Include padding in width calculation */
  text-align: center; /* Center text */
  display: flex; /*Use flexbox for easy layout*/
  flex-direction: column; /*Stack items vertically*/
  justify-content: center; /*center vertically*/
  align-items: center; /*center horizontally*/
}

.footer-content {
  max-width: 1200px; /* Limit content width for larger screens */
  width: 100%; /* Take full width within the max-width */
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  margin: 0 15px;
}

.footer-links a:hover {
  color: var(--text-color);
}
