body {
  background: linear-gradient(to top, #dddddd 2px, #cccccc 2px);
  background-size: cover;
  background-size: 100% 4px;
}


@media screen{
  body {
    animation: scanlines infinite 1s linear ;
  }
} 
@keyframes scanlines {
  0% {
    background-position: 0 -10px;
  }
  50% {
    background-position: 0 0;
  }

  100%{
    background-position: 0 10px;
  }
}